In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load datasets
sales_df = pd.read_csv(r'C:\Users\007ri\Product_EDA/data/sales data-set.csv')
stores_df = pd.read_csv(r'C:\Users\007ri\Product_EDA/data/stores data-set.csv')
features_df = pd.read_csv(r'C:\Users\007ri\Product_EDA/data/Features data set.csv')

# display 1st few rows
sales_df.head(), stores_df.head(), features_df.head()

(   Store  Dept        Date  Weekly_Sales  IsHoliday
 0      1     1  05/02/2010      24924.50      False
 1      1     1  12/02/2010      46039.49       True
 2      1     1  19/02/2010      41595.55      False
 3      1     1  26/02/2010      19403.54      False
 4      1     1  05/03/2010      21827.90      False,
    Store Type    Size
 0      1    A  151315
 1      2    A  202307
 2      3    B   37392
 3      4    A  205863
 4      5    B   34875,
    Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
 0      1  05/02/2010        42.31       2.572        NaN        NaN
 1      1  12/02/2010        38.51       2.548        NaN        NaN
 2      1  19/02/2010        39.93       2.514        NaN        NaN
 3      1  26/02/2010        46.63       2.561        NaN        NaN
 4      1  05/03/2010        46.50       2.625        NaN        NaN

    MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
 0        NaN        NaN        NaN  211.096358         8.106      False
 1        NaN        NaN        NaN  211.242170         8.106       True
 2        NaN        NaN        NaN  211.289143         8.106      False
 3        NaN        NaN        NaN  211.319643         8.106      False
 4        NaN        NaN        NaN  211.350143         8.106      False  )

In [3]:
# Convert 'Date' columns to datetime format
sales_df["Date"] = pd.to_datetime(sales_df["Date"], format="%d/%m/%Y")
features_df["Date"] = pd.to_datetime(features_df["Date"], format="%d/%m/%Y")

# Fill missing values in Markdown columns with 0
markdown_cols = ["MarkDown1", "MarkDown2", "MarkDown3", "MarkDown4", "MarkDown5"]
features_df[markdown_cols] = features_df[markdown_cols].fillna(0)

# Fill CPI & Unemployment missing values using forward fill
features_df["CPI"] = features_df["CPI"].ffill()
features_df["Unemployment"] = features_df["Unemployment"].ffill()

# Check for missing values
print(sales_df.isnull().sum())
print(features_df.isnull().sum())
print(stores_df.isnull().sum())

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
dtype: int64
Store           0
Date            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday       0
dtype: int64
Store    0
Type     0
Size     0
dtype: int64

In [4]:
# Merge sales with store details
merged_df = sales_df.merge(stores_df, on="Store", how="left")

# Merge with features dataset
merged_df = merged_df.merge(features_df, on=["Store", "Date"], how="left")

# Display the merged data structure
print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     421570 non-null  float64
 10  MarkDown2     421570 non-null  float64
 11  MarkDown3     421570 non-null  float64
 12  MarkDown4     421570 non-null  float64
 13  MarkDown5     421570 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
 16  IsHoliday_y   421570 non-null  bool
dtypes: bool(2), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 49.0+ MB
None

In [5]:
# Summary statistics
print("Summary Statistics:\n", merged_df.describe())

# Sales Summary by Store Type
print("\nSales Summary by Store Type:\n", merged_df.groupby("Type")["Weekly_Sales"].agg(["mean", "median", "std"]))

# Sales Summary by Holiday
print("\nSales Summary by Holiday:\n", merged_df.groupby("IsHoliday_x")["Weekly_Sales"].agg(["mean", "median", "std"]))

               Store           Dept                           Date  \
count  421570.000000  421570.000000                         421570
mean       22.200546      44.260317  2011-06-18 08:30:31.963375104
min         1.000000       1.000000            2010-02-05 00:00:00
25%        11.000000      18.000000            2010-10-08 00:00:00
50%        22.000000      37.000000            2011-06-17 00:00:00
75%        33.000000      74.000000            2012-02-24 00:00:00
max        45.000000      99.000000            2012-10-26 00:00:00
std        12.785297      30.492054                            NaN

        Weekly_Sales           Size    Temperature     Fuel_Price  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean    15981.258123  136727.915739      60.090059       3.361027
min     -4988.940000   34875.000000      -2.060000       2.472000
25%      2079.650000   93638.000000      46.680000       2.933000
50%      7612.030000  140167.000000      62.090000       3.452000
75%     20205.852500  202505.000000      74.280000       3.738000
max    693099.360000  219622.000000     100.140000       4.468000
std     22711.183519   60980.583328      18.447931       0.458515

           MarkDown1      MarkDown2      MarkDown3      MarkDown4  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean     2590.074819     879.974298     468.087665    1083.132268
min         0.000000    -265.760000     -29.100000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%      2809.050000       2.200000       4.540000     425.290000
max     88646.760000  104519.540000  141630.610000   67474.850000
std      6052.385934    5084.538801    5528.873453    3894.529945

           MarkDown5            CPI   Unemployment
count  421570.000000  421570.000000  421570.000000
mean     1662.772385     171.201947       7.960289
min         0.000000     126.064000       3.879000
25%         0.000000     132.022667       6.891000
50%         0.000000     182.318780       7.866000
75%      2168.040000     212.416993       8.572000
max    108519.280000     227.232807      14.313000
std      4207.629321      39.159276       1.863296
              mean    median           std
Type
A     20099.568043  10105.17  26423.457227
B     12237.075977   6187.87  17203.668989
C      9519.532538   1149.67  15985.351612
                     mean   median           std
IsHoliday_x
False        15901.445069  7589.95  22330.747450
True         17035.823187  7947.74  27222.000409

In [7]:

# Summary statistics
print("Summary Statistics:\n", merged_df.describe())

# Sales Summary by Store Type
print("\nSales Summary by Store Type:\n", merged_df.groupby("Type")["Weekly_Sales"].agg(["mean", "median", "std"]))

# Sales Summary by Holiday
print("\nSales Summary by Holiday:\n", merged_df.groupby("IsHoliday_x")["Weekly_Sales"].agg(["mean", "median", "std"]))

Summary Statistics:
                Store           Dept                           Date  \
count  421570.000000  421570.000000                         421570
mean       22.200546      44.260317  2011-06-18 08:30:31.963375104
min         1.000000       1.000000            2010-02-05 00:00:00
25%        11.000000      18.000000            2010-10-08 00:00:00
50%        22.000000      37.000000            2011-06-17 00:00:00
75%        33.000000      74.000000            2012-02-24 00:00:00
max        45.000000      99.000000            2012-10-26 00:00:00
std        12.785297      30.492054                            NaN

        Weekly_Sales           Size    Temperature     Fuel_Price  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean    15981.258123  136727.915739      60.090059       3.361027
min     -4988.940000   34875.000000      -2.060000       2.472000
25%      2079.650000   93638.000000      46.680000       2.933000
50%      7612.030000  140167.000000      62.090000       3.452000
75%     20205.852500  202505.000000      74.280000       3.738000
max    693099.360000  219622.000000     100.140000       4.468000
std     22711.183519   60980.583328      18.447931       0.458515

           MarkDown1      MarkDown2      MarkDown3      MarkDown4  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean     2590.074819     879.974298     468.087665    1083.132268
min         0.000000    -265.760000     -29.100000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%      2809.050000       2.200000       4.540000     425.290000
max     88646.760000  104519.540000  141630.610000   67474.850000
std      6052.385934    5084.538801    5528.873453    3894.529945

           MarkDown5            CPI   Unemployment
count  421570.000000  421570.000000  421570.000000
mean     1662.772385     171.201947       7.960289
min         0.000000     126.064000       3.879000
25%         0.000000     132.022667       6.891000
50%         0.000000     182.318780       7.866000
75%      2168.040000     212.416993       8.572000
max    108519.280000     227.232807      14.313000
std      4207.629321      39.159276       1.863296

Sales Summary by Store Type:
               mean    median           std
Type
A     20099.568043  10105.17  26423.457227
B     12237.075977   6187.87  17203.668989
C      9519.532538   1149.67  15985.351612

Sales Summary by Holiday:
                      mean   median           std
IsHoliday_x
False        15901.445069  7589.95  22330.747450
True         17035.823187  7947.74  27222.000409